<div class="grid-container">
    <div class="best-seller">Best Seller</div>
    <button><i class="fa-regular fa-bookmark"></i></button>
    <img src="/images/course-guy-laptop.png" alt="Image">
    <NavLink href="/SingleCourse" class="content-container">
        <h3>Title</h3>
        <p class="author">By Author Author</p>
        <p class="discounted-price">$19.99 <span>$29.99</span></p>
        <div>
            <i class="fa-regular fa-clock"></i>
            <p>200 hours</p>
            <i class="fa-regular fa-thumbs-up"></i>
            <p>80% (25K)</p>
        </div>
    </NavLink>
</div>

@code {

}
