<header>
    <div class="header-container">
        <nav>
            <div class="nav-container">
                <NavLink href="/" class="logo"><img src="/images/logo.svg" alt="Logo"></NavLink>
                <a class="nav-links" href="">Overview</a>
                <NavLink class="nav-links" href="/Courses">Courses</NavLink>
                <a class="nav-links" href="">Contact</a>
            </div>
        </nav>
        <nav>
            <div class="nav-container">
                <a class="avi-button" href=""><img class="avi" src="/images/profile-pic.png"></a>
                <button><i class="fa-solid fa-bars"></i></button> @* Gör denna till client side *@
            </div>
        </nav>
    </div>
    <div id="menu" class="header-container mobile">
        <nav>
            <div class="nav-container">
                <a class="nav-links" href="">Overview</a>
                <NavLink class="nav-links" href="/Courses">Courses</NavLink>
                <a class="nav-links" href="">Contact</a>
                <a class="avi-button" href=""><img class="avi" src="/images/profile-pic.png"></a>
            </div>
        </nav>
    </div>
</header>

@code {

}
