//Header

header {
    font-weight: 600;
    padding: 10px 0;
    position: relative;

    .header-container {
        width: 1300px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 1400px) {
            width: 85%;
        }

        @media only screen and (max-width: 992px) {
            width: 98%;
        }

        nav {
            .nav-container {
                display: flex;
                align-items: center;
                height: 100%;

                ::deep .logo {
                    margin: 0 40px 0 0;
                    display: flex;
                    align-items: center;

                    @media only screen and (max-width: 1400px) {
                        margin: 0 10px;
                    }

                    @media only screen and (max-width: 992px) {
                        width: 100px;
                    }

                    @media only screen and (max-width: 768px) {
                        width: auto;
                    }
                }

                ::deep .nav-links {
                    text-decoration: none;
                    text-align: center;
                    margin: 0 10px;
                    color: #33354D;
                    transition: ease-in-out 30ms;

                    @media only screen and (max-width: 1400px) {
                        margin: 0 8px;
                    }

                    @media only screen and (max-width: 768px) {
                        display: none;
                    }

                    &:hover {
                        -moz-transform: scale(1.05);
                        -ms-transform: scale(1.05);
                        -o-transform: scale(1.05);
                        -webkit-transform: scale(1.05);
                        transform: scale(1.05);
                    }
                }

                p {
                    margin: 0 10px;
                    color: #565973;

                    @media only screen and (max-width: 1400px) {
                        margin: 0 8px;
                    }

                    @media only screen and (max-width: 768px) {
                        display: none;
                    }
                }

                .switch {
                    @media only screen and (max-width: 768px) {
                        display: none;
                    }
                }

                .avi-button {
                    margin-left: 18px;
                    width: 44px;

                    @media only screen and (max-width: 768px) {
                        display: none;
                    }

                    .avi {
                        border-radius: 50%;
                        width: 100%;
                    }
                }

                .btn {
                    text-align: center;
                    margin: 0 10px;

                    @media only screen and (max-width: 992px) {
                        padding: 8px 15px;
                    }

                    @media only screen and (max-width: 768px) {
                        display: none;
                    }

                    i {
                        margin: 0 10px 0 0;

                        @media only screen and (max-width: 992px) {
                            display: none;
                        }
                    }
                }

                button {
                    display: none;
                    background-color: transparent;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    font-size: 42px;
                    padding: 0 5px;


                    @media only screen and (max-width: 768px) {
                        display: block;
                    }

                    &:hover {
                        background-color: rgba(245, 245, 245, 0.979);
                    }
                }
            }
        }
    }

    .mobile {
        z-index: 999;
        display: none;
        position: absolute;
        width: 100%;
        background-color: rgba(245, 245, 245, 0.979);
        padding-bottom: 30px;
        padding-bottom: 30px;

        @media(min-width: 769px) {
            display: none !important;
        }

        nav {
            .nav-container {
                display: block;

                .nav-links, .btn {
                    display: block;
                    margin: 30px auto;
                    width: 70%;
                }

                .switch-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        display: block;
                    }

                    .switch {
                        display: block;
                    }
                }

                .avi-button {
                    display: block;
                    margin: 30px auto 0 auto;
                }

                .btn {
                    margin-bottom: 0;

                    i {
                        display: block;
                    }
                }
            }
        }
    }
}
