header {
  font-weight: 600;
  padding: 10px 0;
  position: relative;
}
header .header-container {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1400px) {
  header .header-container {
    width: 85%;
  }
}
@media only screen and (max-width: 992px) {
  header .header-container {
    width: 98%;
  }
}
header .header-container nav .nav-container {
  display: flex;
  align-items: center;
  height: 100%;
}
header .header-container nav .nav-container ::deep .logo {
  margin: 0 40px 0 0;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1400px) {
  header .header-container nav .nav-container ::deep .logo {
    margin: 0 10px;
  }
}
@media only screen and (max-width: 992px) {
  header .header-container nav .nav-container ::deep .logo {
    width: 100px;
  }
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container ::deep .logo {
    width: auto;
  }
}
header .header-container nav .nav-container ::deep .nav-links {
  text-decoration: none;
  text-align: center;
  margin: 0 10px;
  color: #33354D;
  transition: ease-in-out 30ms;
}
@media only screen and (max-width: 1400px) {
  header .header-container nav .nav-container ::deep .nav-links {
    margin: 0 8px;
  }
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container ::deep .nav-links {
    display: none;
  }
}
header .header-container nav .nav-container ::deep .nav-links:hover {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
header .header-container nav .nav-container p {
  margin: 0 10px;
  color: #565973;
}
@media only screen and (max-width: 1400px) {
  header .header-container nav .nav-container p {
    margin: 0 8px;
  }
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container p {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container .switch {
    display: none;
  }
}
header .header-container nav .nav-container .avi-button {
  margin-left: 18px;
  width: 44px;
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container .avi-button {
    display: none;
  }
}
header .header-container nav .nav-container .avi-button .avi {
  border-radius: 50%;
  width: 100%;
}
header .header-container nav .nav-container .btn {
  text-align: center;
  margin: 0 10px;
}
@media only screen and (max-width: 992px) {
  header .header-container nav .nav-container .btn {
    padding: 8px 15px;
  }
}
@media only screen and (max-width: 768px) {
  header .header-container nav .nav-container .btn {
    display: none;
  }
}
header .header-container nav .nav-container .btn i {
  margin: 0 10px 0 0;
}
@media only screen and (max-width: 992px) {
  header .header-container nav .nav-container .btn i {
    display: none;
  }
}
header .mobile {
  z-index: 999;
  display: none;
  position: absolute;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.979);
  padding-bottom: 30px;
  padding-bottom: 30px;
}
@media (min-width: 769px) {
  header .mobile {
    display: none !important;
  }
}
header .mobile nav .nav-container {
  display: block;
}
header .mobile nav .nav-container .nav-links, header .mobile nav .nav-container .btn {
  display: block;
  margin: 30px auto;
  width: 70%;
}
header .mobile nav .nav-container .switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .mobile nav .nav-container .switch-container p {
  display: block;
}
header .mobile nav .nav-container .switch-container .switch {
  display: block;
}
header .mobile nav .nav-container .avi-button {
  display: block;
  margin: 30px auto 0 auto;
}
header .mobile nav .nav-container .btn {
  margin-bottom: 0;
}
header .mobile nav .nav-container .btn i {
  display: block;
}
