@using NewAssignmentWebApp.Components.Layout.Components

<header>
    <div class="header-container">
        <nav>
            <div class="nav-container">
                <a class="logo" asp-controller="Home" asp-action="Index"><img src="/images/logo.svg" alt="Logo"></a>
                <a class="nav-links" href="#overview">Overview</a>
                <AuthorizeView>
                    <Authorized>
                        <a class="nav-links" href="/Courses">Courses</a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="nav-links" href="#features">Features</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </nav>
        <nav>
            <div class="nav-container">
                <AuthorizeView>
                    <Authorized>
                        <a class="avi-button" href="/Account/Details"><img class="avi" src="/images/profile-pic.png"></a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="btn light" href="Account/SignIn"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                        <a class="btn" href="Account/SignUp"><i class="fa-regular fa-user"></i>Sign up</a>
                    </NotAuthorized>
                </AuthorizeView>
                <MenuToggleButton />
            </div>
        </nav>
    </div>
    <div id="menu" class="header-container mobile">
        <nav>
            <div class="nav-container">
                <a class="nav-links" href="#overview">Overview</a>
                <AuthorizeView>
                    <Authorized>
                        <a class="nav-links" href="/Courses">Courses</a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="nav-links" href="#features">Features</a>
                    </NotAuthorized>
                </AuthorizeView>
                <AuthorizeView>
                    <Authorized>
                        <a class="avi-button" href="/Account/Details"><img class="avi" src="/images/profile-pic.png"></a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="btn light" href="Account/SignIn"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                        <a class="btn" href="Account/SignUp"><i class="fa-regular fa-user"></i>Sign up</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </nav>
    </div>
</header>

<script defer>
    const toggleMenu = () => {
        if (document.getElementById("menu").style.display != "block") {
            document.getElementById("menu").style.display = "block";
        }

        else {
            document.getElementById("menu").style.display = "none";
        }
    };
</script>
